.title {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 125px;
}
.logo-clock {
  position: absolute;
  /* width: 265px;
  height: 265px; */
}
h1 .logo-title {
  width: 564px;
  /* margin: 0 auto; */
}
