@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.section-myInfo {
  margin-bottom: 147px;
  position: relative;
}
.section-myInfo form {
  font-size: 24px;
  color: #fff;
  margin-bottom: 27px;
  text-align: center;
}
.section-myInfo label {
  display: block;
}
.section-myInfo label:first-child {
  margin-bottom: 24px;
}
.section-myInfo form input {
  width: 228px;
  box-sizing: border-box;
  padding: 19px 39px;
  margin: 0 17px;
  font-size: 24px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
input::placeholder {
  color: #babcbe;
}

.btn-submit {
  background: #f5df4d;
  font-family: "gmarketBold";
  font-size: 24px;
  color: #5b2386;
  padding: 21px 49px;
  width: 565px;
  cursor: pointer;
  border-radius: 56px;
  -webkit-border-radius: 56px;
  -moz-border-radius: 56px;
  -ms-border-radius: 56px;
  -o-border-radius: 56px;
}
.section-myInfo .btn-box {
  margin-top: 88px;
}
.section-myInfo .btn-box img {
  transform: translateY(55px);
  -webkit-transform: translateY(55px);
  -moz-transform: translateY(55px);
  -ms-transform: translateY(55px);
  -o-transform: translateY(55px);
}
